<div class="row" style="width: 50%;">
  <h1>Recuperar contraseña</h1>

  <form action="" id="form_recover_password">
    <div class="col">
      <input type="email" class="form-control" id="mail" placeholder="Ingresar mail" />
      <input
      id="password"
        type="password"
        class="form-control"
        placeholder="Ingresar nueva contraseña"
      />

      <button type="submit" id="btn_recoverPassword" class="btn btn-primary">Recuperar</button>
    </div>
  </form>

</div>

<script src="./js/recoverPassword.js"></script> 
